# OPENAI_API_KEY=your_openai_api_key
# OPENAI_BASE_URL=your_openai_base_url

# USER_OPENAI_API_KEY=your_openai_api_key_for_user_simulation
# USER_OPENAI_BASE_URL=your_openai_base_url_for_user_simulation

# OpenAI config
OPENAI_API_KEY=xxx
OPENAI_BASE_URL=xxx

# custom model 
CUSTOM_API_KEY=dummy
CUSTOM_BASE_URL=

#
