# 1. 虚拟环境（你的 qwen_env 直接忽略）
qwen_env/
venv/
env/
source_data/
api.txt
# 2. 大模型文件（所有训练模型权重）
*.pth
*.pt
*.bin
*.ckpt
*.h5
*.safetensors

# 3. 数据集/压缩包
data/
dataset/
*.zip
*.tar
*.gz
*.rar
*.json
*.jsonl
*.txt

# 4. 缓存/日志
__pycache__/
*.pyc
*.log
*.tmp

# 5. 系统垃圾
.DS_Store
*.swp
